<h2>All Users</h2>
<div class="new-user">
    <h2>Create new user</h2>
    <label for="new-user">username: </label>
    <input id="new-user" #username />

    <button type="button" (click)="addUser(username.value); username.value=''">
        Create user
    </button>
</div>
<ul>
    <li *ngFor="let user of users">
        <span style="display: inline;">
            <div class={{user.status}}></div>
            <a routerLink="/detail/{{user.username}}" style="display: inline;">{{user.username}}</a>
            <fa-icon [icon]="faTrash" (click)="deleteUser(user)"></fa-icon>
        </span>
    </li>
</ul>

